@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,300italic,400italic,600,700);

#nav {
   float:left;
   width:100%;
   background:#ECECEA;
   border-bottom:1px solid #bcbcbb;
   overflow:hidden;
   position:relative;
}

body {
  font-family: 'Titillium Web';
  padding: 10px 90px 50px;
  font-size: 13px;
  text-align: center;
  background: #ECECEA;
  min-width: 500px
}

#nav ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#nav ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#nav ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 12px;
   background:#ccc;
   color:#2B2B2B;
   text-decoration:none;
   line-height:1.3em;
}
#nav ul li ul li {
   display:block;
   margin:0 0 0 1px;
   padding:3px 20px;
   background:#ccc;
   color:#2B2B2B;
   line-height:1.3em;
}

#nav ul li a:hover {
   background:#DE1B1B;
   color:#2B2B2B;
}

#nav ul li a {
   font-family:'Titillium Web'
}

#nav ul li a.active,
#nav ul li a.active:hover {
   color:#2B2B2B;
   background:#fff;
   font-weight:600;
}